.slider {
    overflow: hidden;
    position: relative;
}

.slides-list {
    // display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    // width: 100%;
    // gap: 25px;
    // overflow: hidden;
}

.slide {
    flex: 1 0 50%;
    // width: 635px;
    // position: relative;
    list-style-type: none;
    background-color: rgba(241, 245, 249, 1);
}