    .wrapper {
        width: calc(100vw - 200px);
        margin: 0 auto;
        height: 100%;
        max-width: 1400px;

    }

    .content {
        padding: 25px 0;

    }

    .slider {
        overflow: hidden;
        position: relative;
    }

    .slides-list {
        display: flex;
        height: 100%;
        transition: transform 0.5s ease-in-out;
        width: 100%;
        overflow: hidden;
        gap: 25px;
    }

    .slide {
        // flex: 1 0 100%;
        width: 635px;
        // position: relative;
        list-style-type: none;
        background-color: rgba(241, 245, 249, 1);
    }